@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="px-4 gradient-header d-flex">
            <div class="d-flex justify-content-center align-items-center">
                <a href="/">
                    <img src="fitsked-logo.png" alt="Logo" class="header-logo me-3" />
                </a>
                
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="d-flex ms-auto align-items-center">
                        <span class="bi bi-person-fill-nav-menu me-2" aria-hidden="true"> Welcome, </span> @context.User.Identity?.Name!
                        <form action="Account/Logout" method="post" class="ms-3">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="bg-white p-2 w-100 border border-2 border-danger rounded-pill poppins-medium main-button">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    @* <div class="d-flex ms-auto">
                            <a class="text-black text-decoration-none p-2 rounded-pill bg-white border border-danger border-3 w-100 me-2 text-center main-button poppins-medium" href="Account/Register">
                                <span class=" text-black" aria-hidden="true"></span> Register
                            </a>
                        
                            <a class="text-black text-decoration-none p-2 rounded-pill bg-white border border-danger border-3 w-100 me-2 text-center main-button poppins-medium" href="Account/Login">
                                <span class="text-black" aria-hidden="true"></span> Login
                            </a>
                    </div> *@
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}