@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="page">
    <main>
        <div class="px-4 gradient-header d-flex align-items-center header-container">
            <div class="d-flex justify-content-center align-items-center">
                <!-- Default logo for larger screens -->
                <a href="/" class="logo-large">
                    <img src="zoomed-in-transparent-logo.png" alt="Logo" class="header-logo me-3" />
                </a>
                <!-- Smaller logo for smaller screens -->
                <a href="/" class="logo-small">
                    <img src="originalsnippetlogo.png" alt="Icon Logo" class="header-logo-small me-3" />
                </a>
            </div>

            <AuthorizeView>
                <Authorized>
                    <div class="d-flex ms-auto align-items-center">
                        <!-- Welcome message for larger screens -->
                        <span class="welcome-message d-none d-md-inline me-2">
                            Welcome, @context.User.Identity?.Name!
                        </span>
                        <!-- Logout button -->
                        <form action="Account/Logout" method="post" class="ms-3">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="bg-white p-2 w-100 border border-2 border-danger rounded-pill poppins-medium main-button">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}