@using FitskedApp.Data
@using FitskedApp.Models
@page "/addnewworkout"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IUserWorkoutRepository userWorkoutRepo




<h3>Create New Workout</h3>

<EditForm Model="@userworkout" OnValidSubmit="@addWorkout">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="workoutName">Workout Name:</label>
        <InputText id="workoutName" @bind-Value="userworkout.Name" class="form-control" />
    </div>



</EditForm>

@code {
    // We know a workout model has a list of userexercises
    // OnValidSubmit, we going to add a new workout, which calls the userworkout repository

    // We need to figure out a way to get just two user workouts in a list of exercises that have a Name, Sets, Reps, and weight. Just two.
    UserWorkout userworkout = new UserWorkout();
    UserExercise userexercise = new UserExercise();

    public int numberofExercises = 2; // We are simply adding two workouts just to get the functionality working
    public List<UserExercise> listOfExercises = new List<UserExercise>(); // Creating a list which will go into the UserWorkout workout

    public void addWorkout()
    {
        userWorkoutRepo.addNewWorkout(userworkout);
    }
}
