@page "/"
@implements IDisposable
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Fitsked</a>
    </div>
</div> *@

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="d-flex justify-content-center" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="row">
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div> *@


        <AuthorizeView>
            <Authorized>
                <div class="col-12">
                    <div class="nav-item px-3 shadow-lg rounded-pill bg-white border border-dark border-3 p-2 w-100">
                        <a class="nav-link" href="/add-plan">
                            <span class="bi bi-file-earmark-plus-fill-nav-menu" aria-hidden="true"></span> Add Plan
                        </a>
                    </div>
                </div>

                <div class="col-12">
                    <div class="nav-item px-3 shadow-lg rounded-pill bg-white border border-dark border-3 p-2 w-100">
                        <a class="nav-link" href="/add-plan">
                            <span class="bi bi-file-earmark-plus-fill-nav-menu" aria-hidden="true"></span> My Plans
                        </a>
                    </div>
                </div>
                
                
            </Authorized>
            <NotAuthorized>
                @* <div class="nav-item px-3 p-2 w-100">
                    <NavLink class="nav-link btn-custom" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3 p-2 w-100">
                    <NavLink class="nav-link btn-custom" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div> *@
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

