@using FitskedApp.Utilities
@page "/"
@implements IDisposable
@inject NavigationManager NavigationManager
@inject NavigationLinks NavigationLinks

<PageTitle>Home</PageTitle>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" style="display:none" />

<div class="d-flex justify-content-center" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="row">
        <div class="d-flex justify-content-center align-items-center pt-5 mt-2">
            <img src="originalsnippetlogo.png" alt="Logo" class="main-page-logo me-3" />
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="d-flex justify-content-center">
                    <div class="text-center px-4 mt-4">
                        <h3 class="poppins-medium">
                            <strong>Designed by <em>real trainers</em>, powered by <em>you</em>.</strong>
                        </h3>
                    </div>
                </div>


                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <a class="text-black text-decoration-none p-3 rounded-pill bg-white border border-danger border-3 w-100 m-4 text-center main-button poppins-medium" href="/user-plans">
                            My Plans
                        </a>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="d-flex justify-content-center">
                    <div class="text-center px-4 mt-4">
                        <h3 class="poppins-medium"><em>“fit-sked”</em>—short for <strong>fitness schedule</strong>.</h3>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column align-items-center">
                        <a class="text-black text-decoration-none p-3 rounded-pill bg-white border border-danger border-3 w-100 m-4 text-center main-button poppins-medium" href="Account/Register">
                            I'm a newbie
                        </a>
                        <a class="text-black text-decoration-none p-3 rounded-pill bg-white border border-danger border-3 w-100 m-2 text-center main-button poppins-medium" href="Account/Login">
                            Returning
                        </a>
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>



@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
